body {
    display: block;    
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
}

pre {
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
    font-size: 16px;

    white-space: pre-wrap;
}

a.link, a.link:visited, a.link:hover, a.link:active {
    color: inherit;
}

textarea {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
}

input, textarea {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
    
}

.comment { padding: 2px; }

.link {
    text-decoration: none;

    position: fixed;
    float: right;
    right: 16px; 
}

.link:hover {
    cursor: pointer;
}

/* Standart theme */
a.standart {
    background-color: #fff;
    color: black;
    border-radius: 1px;
    border-color: black;
}

body.standart a.standart {
    background: transparent;
}

body.standart {
    background-color: #fff !important;
    color: black;
}

body.standart .bg {
    background-color: #aaa;;
}

body.standart input, body.standart textarea {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

body.standart textarea:focus {
    outline: none;
}

/* Black theme */
a.black {
    background-color: #000;
    color: white;
    border-radius: 1px;
    border-color: black;
}

body.black a.black {
    background: transparent;
}

body.black {
    background: #000;
    color: white;
}

body.black .bg {
    background: #000;
    color: #0f0;
}

body.black textarea {
    background-color: #000;
    border: 1px solid #0f0;
    color: white;
}

body.black textarea:focus {
    outline: 1px solid #0f0;
}

body.black input {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: 1px solid #0f0;
}
