body {
    display: block;    
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
}

pre {
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
}

a.link, a.link:visited, a.link:hover, a.link:active {
    color: inherit;
}

textarea {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
}

input, textarea {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    
    font-family: 'PT Mono', Courier, monospace;
    font-weight: 500;
    
}

.comment { padding: 2px; }

.link {
    text-decoration: none;

    position: fixed;
    float: right;
    right: 16px; 
}

.link:hover {
    cursor: pointer;
}

/* Standart theme */
a.standart {
    background-color: #fff;
    color: black;
    border-radius: 1px;
    border-color: black;
}

body.standart a.standart {
    background: transparent;
}

body.standart {
    background-color: #fff !important;
    color: black;
}

body.standart .bg {
    background-color: #aaa;;
}

body.standart input, body.standart textarea {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

body.standart textarea:focus {
    outline: none;
}

/* Dark theme */
a.dark {
    background-color: #40444b;
    color: white;
    border-radius: 1px;
    border-color: black;
}

body.dark a.dark {
    background: transparent;
}

body.dark {
    background: #36393f;
    color: white;
}

body.dark .bg {
    background: black;
}

body.dark textarea {
    background-color: #40444b;
    border: 1px solid black;
    color: white;
}

body.dark textarea:focus {
    outline: 1px solid #4CAF50;
}

body.dark input {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid black;
}

/* Black theme */
a.black {
    background-color: #000;
    color: white;
    border-radius: 1px;
    border-color: black;
}

body.black a.black {
    background: transparent;
}

body.black {
    background: #000;
    color: white;
}

body.black .bg {
    background: #000;
    color: #0f0;
}

body.black textarea {
    background-color: #000;
    border: 1px solid #0f0;
    color: white;
}

body.black textarea:focus {
    outline: 1px solid #0f0;
}

body.black input {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: 1px solid #0f0;
}

/* Gradient theme */
a.gradient {
    color: black;
    border-radius: 1px solid black;

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-position-x: calc(400vw - 16px);
    background-size: 400vh 400vw;
    -webkit-animation: gradient-animation 16s linear infinite;
    animation: gradient-animation 16s linear infinite;
    animation-direction: reverse;
}

body.gradient a.gradient {
    background: transparent;
}

body.gradient .bg {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

body.gradient input, body.gradient textarea {
    color: black;
    border: 1px solid black;
    
    background-color: rgba(0, 0, 0, 0.2);
}

body.gradient textarea:focus {
    outline: none;
}

body.gradient {
    color: black;

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400vh 400vw;
    -webkit-animation: gradient-animation 16s linear infinite;
    animation: gradient-animation 16s linear infinite;
    animation-direction: reverse;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

/* Dark theme */
a.hacker {
    background-color: #40444b;
    color: #0f0;
    border-radius: 1px;
    border-color: black;
}

body.hacker a.hacker {
    background: transparent;
}

body.hacker {
    background: black;
    color: #0f0;
}

body.hacker .bg {
    background: black;
}

body.hacker textarea {
    background-color: black;
    border: 1px solid #0f0;
    color: #0f0;
}

body.hacker textarea:focus {
    outline: 1px solid #0f0;
}

body.hacker input {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #0f0;
    background-color: black;
    border: 1px solid #0f0;
}
